{{ $gallery := "" }}
{{ $images := slice }}
{{ if site.Params.Remote.enabled }}
  {{ $album := default .Path .Params.album }}
  {{ $images = where (site.Data.images) "album" "eq" $album }}
  {{ if gt (len $images) 0 }}
    {{ $cover := index $images 0 }}
    {{/*TODO: Possibility to set other covers and find colors*/}}
    {{ $thumbnail := dict
      "Name" $cover.name
      "Url" $cover.url
      "Width" $cover.meta.width
      "Height" $cover.meta.height
      "Color" ($cover.meta.color | default "transparent")
    }}
    {{ $color := $thumbnail.Color | default "transparent" }}
    {{ $imageCount := 0 }}
    {{ $albumCount := 0 }}
    {{ if .IsPage }}
      {{ $imageCount = len $images }}
    {{ else }}
      {{ range where .RegularPagesRecursive "Params.private" "ne" true }}
        {{ $album = default .Path .Params.album }}
        {{ $albumCount = add $albumCount 1 }}
        {{ $imageCount = add $imageCount (len (where (site.Data.images) "album" "eq" $album)) }}
      {{ end }}
    {{ end }}
    {{ $gallery = dict
      "page" $
      "images" $images
      "thumbnail" $thumbnail
      "color" $color
      "albumCount" $albumCount
      "imageCount" $imageCount
    }}
  {{ end }}
{{ else }}
  {{ $images = where (.Resources.ByType "image") "Params.hidden" "ne" true }}
  {{ if gt (len $images) 0 }}
    {{ $covers := where (.Resources.ByType "image") "Params.cover" "eq" true }}
    {{ $cover := "" }}
    {{ if ge (len $covers) 0 }}
      {{ $cover = index $covers 0 }}
    {{ end }}
    {{ $featured := $cover | default ((.Resources.ByType "image").GetMatch (.Params.featured_image | default "*feature*")) | default (index $images 0) }}
    {{ $thumbnail := $featured.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
    {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
    {{ $imageCount := 0 }}
    {{ $albumCount := 0 }}
    {{ if .IsPage }}
      {{ $imageCount = len $images }}
    {{ else }}
      {{ range where .RegularPagesRecursive "Params.private" "ne" true }}
        {{ $albumCount = add $albumCount 1 }}
        {{ $imageCount = add $imageCount (len (where (.Resources.ByType "image") "Params.hidden" "ne" true)) }}
      {{ end }}
    {{ end }}
    {{ $gallery = dict
      "page" $
      "images" $images
      "thumbnail" $thumbnail
      "color" $color
      "albumCount" $albumCount
      "imageCount" $imageCount
    }}
  {{ end }}
{{ end }}
{{ return $gallery }}
